@import '../utils/variables';

.container {
    padding-top: 4rem;
    .main {
        padding: 2rem 0;
        background-color: rgba($color-secondary, 0.8);
        &__content {
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}