@import '../utils/variables';

.container {
    .main {
        background-color: $color-secondary;
        &__content {
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}