@import '../utils/variables';

.container {
    .main {
        // background-color: $color-secondary, 0.5;
        background-color: rgba($color-secondary, 0.8);
        &__content {
            max-width: 800px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}