@import '../utils/variables';
@import '../utils/mixins';

.container {
    background-color: rgba($color-secondary, 0.8);
    padding-top: 4rem;
    min-height: 100vh;
    .main {   
        padding: 2rem 0;
        &__content {
            border: solid 2px $color-primary;
            border-radius: 0.5rem;
            overflow: hidden;
            max-width: 900px;
            margin: auto;
            background-color: #FFF;
            .header {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 2rem;
                @include tab {
                    flex-direction: row;
                }
                .admin {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                }
                .userpic {
                    border-radius: 99rem;
                    overflow: hidden;
                    border: solid 3px $color-secondary;
                }
                .username {
                    font-size: 2rem;
                }
            }
            .description {
                padding: 2rem;
                .actions {
                    margin-top: 1rem;
                    display: flex;
                    justify-content: end;
                }
            }
            .change {
                padding: 0 2rem 2rem;
                display: flex;
                justify-content: end;
            }
            .tabs {
                display: flex;
                
                @include tab {
                    padding: 0 1rem;
                }
                .tab {
                    padding: 1rem;
                    cursor: pointer;
                    width: 8rem;
                    text-align: center;
                    font-weight: 600;
                    border-radius: 0.5rem 0.5rem 0 0;
                    &.active {
                        background-color: lighten($color: $color-primary, $amount: 30);
                    }
                }
            }
            .tab-content {
                background-color: #FFF;
                padding-bottom: 1rem;
            }
        }
    }
    
}