@import '../utils/variables';

.container {
    background-color: #FFF;
    border: solid 1px $light-gray;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    .text {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    .actions {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: flex-end;
    }
    
}