@import '../utils/variables';

.container {
    background-color: #FFF;
    border: solid 1px $light-gray;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    .text {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    .image {
        position: relative;
        height: 20rem;
        margin: 1rem 0;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .actions {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: flex-end;
        gap:1rem;
        .upload-button {
            display: none;
        }
    }
    
}