
@import '../utils/variables';
@import '../utils/mixins';

.navbar {
    background-color: $color-secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .logo {
        display: none;
        align-items: center;
        @include tab {
            display: flex;
        }
    }
    .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        @include tab {
            align-items: center;
            justify-content: flex-end;
        }
        .home {
            color: #FFF;
            font-size: 1.5rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            @include tab {
                display: none;
            }
            &:hover {
                background-color: rgba(#FFF, 0.2);
            }
        }
        .profile {
            color: #FFF;
            height: 3rem;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-radius: 99rem;
            .userpic {
                border-radius: 99rem;
            }
            .username {
                font-weight: 600;
                padding: .75rem;
                display: none;
                @include large-phone {
                    display: inline;
                }
            }
            &:hover {
                background-color: rgba(#FFF, 0.2);
            }
        }
        .logout {
            color: #FFF;
            height: 3rem;
            width: 3rem;
            border-radius: 99rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(#FFF, 0.2);
            }
        }
    }
}